__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.mypy_cache
.pytest_cache
.hypothesis
.DS_Store
.dockerignore
README.md
README.rst
CHANGES.md
CHANGES.rst
MANIFEST.in
setup.cfg
pyproject.toml
uv.lock
*.env
*.ini